.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
/* .navele {
    margin-right: 1%;
} */
.mapsvg {
    width: 100%;
    height: 100%;
    position: center;
    background-color: #87CEEB;
}
.hidden {
      display: none;
}
div.tooltip {
      color: #222; 
      background: #fff; 
      border-radius: 3px; 
      box-shadow: 0px 0px 2px 0px #a6a6a6; 
      padding: .2em; 
      text-shadow: #f5f5f5 0 1px 0;
      opacity: 0.9; 
      position: absolute;
}
#lptotal {
    width: 80%;
    height: 80%;
    display: none;
    border-radius: 2%;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    position: fixed;
    z-index: 1;
    left: 5%;
    top: 5%;
}
.lpdiv {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}
/* .lpdiv svg {
    width: 33%;
    height: 100%;
} */
.divline {
    margin-top: 3%;
    background-color: #b2beb5;
}
.lptopdiv {
    width: 100%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.ptitle {
    float: left;
}
.closediv {
    float: right;
    margin-right: 1%;
}
.backbtn {
    visibility: hidden;
    border: none;
}
.bartopdiv {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    left: inherit;
    top: inherit;
    overflow: auto;
}
.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip-lp {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}


